<div class="container row">
  <div class="col-md-5">
    <div>
      <h2>SmartDesk Landing Page</h2>
    </div>
  </div>
  <div class="col-md-7">
    <div>
      <h3>Service Catalog</h3>
      <p>Traditionally access to company data was protected by a firewall, because all endpoints, like desktops and servers, were inside the company’s ‘circle of trust’, directly connected to the company’s network and on the company’s premises, providing complete control.  
	The advent of mobile devices, like smartphones, tablets and laptops, has moved this ‘circle of trust’ into the world, resulting in no control and complete lack of trust. 
        The lifeblood of many companies, their data, are now often stored, transported and distributed on these mobile devices. This increases the risk of data loss, financial loss and reputational damage to a business exponentially.  The endpoint is the new perimeter. The right solution should be comprehensive, modular and it should take care of cyber risks and exposures, without any interruption or complexity. It should work silently in the background, allowing business to focus on their core activities, without the need to employ cyber security experts. The solution should also allow complete visibility & control, as well as enabling secure collaboration between devices, thereby providing secure access to business information. The solution that meets all these requirements is SmartDesk
      </p>
      <ul>
        <li><a href="#">On-The-Go</a></li>
        <li><a href="#">Standard</a></li>
        <li><a href="#">Deluxe</a></li>
        <li><a href="#">Premium</a></li>
	<li><a href="#">Premier</a></li>
      </ul>
    </div>
  </div>
</div>
